<div>
    <h1>Periodic Table</h1>
    <mat-form-field>
      <mat-label>Filter Elements</mat-label>
      <input matInput (input)="onFilter($event)"/>
    </mat-form-field>
  
    <div class="periodic-table">
      <div
        *ngFor="let element of elements$ | async"
        [class.highlighted]="element.isHighlighted"
        class="periodic-element"
      >
        <div (click)="openEditDialog(element)">
          <p>{{ element.position }}</p>
          <h3>{{ element.symbol }}</h3>
          <p>{{ element.name }}</p>
          <p>{{ element.weight }}</p>
        </div>
      </div>
    </div>
  </div>