title {
  justify-content: center;
}
table {
  border-style: none;
  table-layout: fixed;
  width: 100%; 
  //border-collapse: collapse;
}

tbody {

  display:block;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  //flex-direction: column;
}

tr {
  display: table-row;  /* Use flexbox for rows */
  flex:1;       /* Make rows take equal space */
}
.table-cell {
  width: 4vw;
  height:5vh;
  border: none;
  //flex: 1;  /* Cells will take equal space within the row */
  position: relative; /* For pseudo-element trick */
}

