.tile {
  background-color: #fdf6e3;  /* Delikatny pastelowy kolor */
  height: 100%;
  width: auto;
  justify-content: center;
  border-radius: 10px;  /* Zaokrąglone rogi */
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Delikatny cień dla głębi */
  padding: 10px;
  transition: transform 0.3s ease  /* Animacja na hover */
}
.position {
  font-size: 0.75rem;  /* Nowoczesne, większe czcionki */
  text-align: left;
  color: #1a202c;  /* Ciemny kolor dla kontrastu */
}

.tile:hover {
  transform: scale(1.05);  /* Efekt lekkiego powiększenia przy hover */
  background-color: #fef3c7;  /* Zmiana koloru tła przy hover */
}

.symbol {
  text-align: center;
  font-size: 1.25rem;  
  font-weight: bold;
  color: #1a202c; 
  margin-top: -35%;
}

.name {
  font-size: 0.5rem;
  font-weight: 400;
  color: #4a5568;  
  margin-top: 2%; 
}

/* Waga pierwiastka */
.weight {
  font-size: 0.5vh;
  color: #718096;  /* Jaśniejszy szary dla mniej ważnej informacji */
  margin: 2px;
}

/* Wyróżnienie (highlight) */
.highlighted {
  background-color: #ffedd5;  /* Jasny, delikatny kolor dla wyróżnienia */
}