.highlighted {
    background-color: yellow; // Change to desired highlight color
  }
  
  .symbol {
    font-size: 24px;
    font-weight: bold;
  }
  
  .name {
    font-size: 16px;
  }
  
  .weight {
    font-size: 12px;
  }
  .tile {
    background-color: yellow;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Optional: to visualize the tile borders */
  }